<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ehelp.ehelp">

    <uses-permission android:name="com.ehelp.esos.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="ANDROID.PERMISSION.FLASHLIGHT" />
    <!-- 获取机型信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <!-- 查看 Wi-Fi 状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 查看网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 控制振动器 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 防止设备休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 【必须】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 【可选】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo3"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- 【必须】 信鸽receiver广播接收 -->
        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v2">
            <intent-filter android:priority="0x7fffffff">

                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.tpush.action.SDK" />
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
                <!-- 【必须】 系统广播：开屏和网络切换 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.ehelp.ehelp.util.MessageReceiver">
            <intent-filter>
                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>
        <!-- 【必须】 (2.30及以上版新增)展示通知的activity -->
        <!-- 【注意】 如果被打开的activity是启动模式为SingleTop，SingleTask或SingleInstance，请根据通知的异常自查列表第8点处理 -->
        <activity
            android:name="com.tencent.android.tpush.XGPushActivity"
            android:exported="true">
            <intent-filter>

                <!-- 若使用AndroidStudio，请设置android:name="android.intent.actiona" -->
                <action android:name="android.intent.action" />
            </intent-filter>
        </activity>

        <!-- 【必须】 信鸽service -->
        <service
            android:name="com.tencent.android.tpush.service.XGPushService"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v2" />

        <!-- 【必须】 通知service，此选项有助于提高抵达率 -->
        <service
            android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ehelp.ehelp.PUSH_ACTION" />
            </intent-filter>
        </service>
        <service android:name="com.amap.api.location.APSService" />

        <!-- 【必须】 请将YOUR_ACCESS_ID修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100167910" />
        <!-- 【必须】 请将YOUR_ACCESS_KEY修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="A57LKA548EUJ" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b5a462270f0024b6d15fe999241e0acb" />

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
            android:name=".account.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".account.RegisterActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.FindPwActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.RegisterActivity2"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.FindPwActivity2"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="true"
            android:label="@string/setting"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.SettingsSecurityActivity"
            android:label="@string/setting"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.SettingsModifyPwActivity"
            android:label="@string/setting"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.SettingsModifyPhoneActivity"
            android:label="@string/setting"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.SettingsModifyEmailActivity"
            android:label="@string/setting"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.SettingsModifyEmailActivity2"
            android:label="@string/setting"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.SettingsNewVersionActivity"
            android:label="@string/setting"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.SettingsPrivacyActivity"
            android:label="@string/setting"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userhelp.UserhelpActivity"
            android:label="@string/helpandfeedback"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userhelp.UserhelpFreshmenActivity"
            android:label="@string/helpandfeedback"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userhelp.UserhelpCommonQueActivity"
            android:label="@string/helpandfeedback"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userhelp.UserhelpFeedbackActivity"
            android:label="@string/helpandfeedback"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userhelp.UserhelpFeedbackActivity2"
            android:label="@string/helpandfeedback"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userhelp.UserhelpAboutusActivity"
            android:label="@string/helpandfeedback"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userhelp.UserhelpBasicfunActivity"
            android:label="@string/helpandfeedback"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".personcenter.PersonCenterActivity"
            android:label="@string/personcenter"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".personcenter.UserMsgActivity"
            android:label="@string/usermsg"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mycontact.MyContactActivity"
            android:label="@string/mycontact"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mycontact.AddUrgencyContactActivity"
            android:label="@string/mycontact"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mycontact.UrgencySearchEhelpUserActivity"
            android:label="@string/mycontact"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mycontact.UrgencyConfirmMsgActivity"
            android:label="@string/mycontact"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mycontact.AddUrgencyContactByPhoneActivity"
            android:label="@string/mycontact"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mycontact.UrgencyContactMsgActivity"
            android:label="@string/mycontact"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".credit.CreditsActivity"
            android:label="@string/mycredits"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bank.BankActivity"
            android:label="@string/bank"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bank.LovingBankActivity"
            android:label="@string/bank"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bank.LovingAccountActivity"
            android:label="爱心银行个人账户"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bank.BankTradeRecord"
            android:label="爱心银行交易记录"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bank.LovingBankTransferActivity"
            android:label="爱心银行转账"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bank.LovingBankServiceActivity"
            android:label="爱心银行商城服务"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bank.LovingBankTransferChoose"
            android:label="爱心银行转账人服务"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myparti.MyPartiActivity"
            android:label="@string/bank"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".message.MyMessageActivity"
            android:label="@string/mymessage"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".message.UrgencyContactAddedConfirmActivity"
            android:label="@string/mymessage"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sponsorsos.SponsorSosCountdownActivity"
            android:label="@string/sponsorSos"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sponsorask.SponsorAskActivity"
            android:label="@string/sponsorAsk"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sponsorhelp.SponsorHelpActivity"
            android:label="@string/sponsorHelp"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sponsorhelp.HelperListActivity"
            android:label="@string/helperlist"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sponsorhelp.EvaluateListActivity"
            android:label="@string/evaluate"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sponsorhelp.EvaluateActivity"
            android:label="@string/evaluate"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".square.EvaluateListActivity2"
            android:label="@string/evaluate"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".square.SquareActivity"
            android:label="@string/square"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".square.AskMsgDetailActivity"
            android:label="@string/square"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".square.ReplyAskActivity"
            android:label="@string/square"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".square.HelpMsgDetailActivity"
            android:label="@string/helpdetail"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".square.HelpMsgDetailActivity2"
            android:label="@string/helpdetail"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".square.HelpEventFinishActivity"
            android:label="救助事件已结束"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppDialog">
        </activity>

        <activity android:name=".guide.GuideActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".guide.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
